
body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    padding: 0;
    margin: 0;

}
input:focus {
    outline: 0;
}
table {
    background-color: white;
}
.search-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.search-button i{
  padding-left: 10px;
}
a{
    color: white;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

/*==================*/
/* Sắp Xếp Layout*/
/*==================*/
#wrapper {
    padding-left: 200px;
    padding-top: 55px;
}
#page-content-wrapper {
    width: 100%;
}
#divider {
    background-color: transparent;
    height: 15px;
}
#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 200px;
    background: #2b2d3c;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}
#sidebar-top-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
/*==================*/
/* các Alert*/
/*==================*/



/*==================*/
/*Sidebar property*/
/*==================*/
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar-nav li a {
    color: white;
    padding: 15px;
    display: flex;
    font-size: 0.7em;
    text-decoration: none;
    align-items: center;

}
.sidebar-nav li a:hover {
    color: orange;
    background-color: #343434;
}
.sidebar-nav li.sidebar-active a {
    background-color: #ff922e;
    color: white;

}
.sidebar-nav ul.navbar-nav li a {
    color: black;
}
/*==================*/
/* Topbar property*/
/*==================*/
.navbar-nav li a{
  display: flex;
  align-items: center;
  text-decoration: none;

}
.navbar-nav li a i{
  padding-left: 5px;
}
/*================*/
/* Background style for element*/
/*================*/
.form-input-background {
    background-color: white;
    padding: 20px;
}
.form-input-margin {
    background-color: white;
    height: auto;
    padding: 20px;
}
.card-primary-mod {
    background-color: #ff922e;
    color: white;
}
/*================*/
/* Login element*/
/*================*/
.login-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
}
.login-form {
    background: #ff5858;
    /* Old browsers */
    background: -moz-linear-gradient(0deg, #ff5858 0%, #f09819 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(0deg, #ff5858 0%, #f09819 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(0deg, #ff5858 0%, #f09819 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-image: url("image/avatar.jpg") cover;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.09);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.login-form-title {
    text-align: center;
    color: white;
}
.hnf-button-control {
    margin: 30px auto;
    width: 50%;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.hnf-button-control:hover {
    margin: 30px auto;
    width: 50%;
    height: 40px;
    color: black;
    border: 0px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.3), 0 10px 10px rgba(255, 255, 255, 0.2);
}
.hnf-button-control:active {
    margin: 30px auto;
    width: 50%;
    height: 40px;
    color: black;
    border: 0px;
    border-radius: 20px;
    background: rgba(198, 198, 198, 1);
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.3), 0 10px 10px rgba(255, 255, 255, 0.2);
}
.input-control {
    width: 100%;
    height: 50px;
    border: 0px;
    color: white;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid white;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: rgb(219, 219, 219);
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(219, 219, 219);
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(219, 219, 219);
    opacity: 1;
}
/*================*/
/* custom hnf class*/
/*================*/
.hnf-card-info-number {

    font-size: 3.5rem;
    color: white;
}
.hnf-card-info-title{
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hnf-navtab-font{
  text-align: center;
  font-size: 0.9rem;
  color: black;
}
.hnf-bg-production-bar {
    background-color: rgb(255, 255, 255);
}
.hnf-progress-bg {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}
.hnf-nav-link {
    color: black;
}

.hnf-button-group{
  width: 100%;
  display: flex;
  justify-content: center;
}
.hnf-search-button{
  display: flex;
  align-items: center;
}
.hnf-input-group-addon{
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  border-bottom: 1px solid white;
  border-radius: 0px;
}
.hnf-input-group-addon i{
  padding: 0;
  padding-right: -10px;
  margin: 0;
}
.Notice{
  color:red;
}
#HNF-input {
    height: 38px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: black;
    width: 100%;
    padding-left: 5px;
}
/*==============================*/
      /* Google icon */
/*==============================*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons{
  padding-right: 10px;
}
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}
@media (min-width: 768px) {
    #sidebar-top-menu {
        display: none;
    }
    .hnf-nav-link {
       display: block;
       padding: 0.5em 1em;
       text-decoration: none;
       color: black;
       border-left: 1px solid #DDDDDD;
   }

}

.bar-tittle{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  color: #dddddd;
  margin: 0 0 20px 0;
}

.bar{
    background-color:#ffffff;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}

.bar-inner{
  background-color: #2ecc71;
  width: 0%;
  height: 100%;
  position: relative;
  -webkit-transition: width 1000ms linear;
  -moz-transition: width 1000ms linear;
  -transition: width 1000ms linear;
}

.bar-inner:after{
  position: absolute;
  right: 2.5%;
  content: attr(data-percent);
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.bar-90{
    width: 90%;
}
.bar-100{
    width: 100%;
}
